.age {
	margin-top:0;
	@include mq(tablet) {
		//margin-top:115px;
	}
	position:relative;
	$margin: 0px;
	width:calc(100% - #{$margin});
	margin-left:$margin;
	min-height:200px;
	//margin-top:20px;
	//height:360px;
	
	svg {
		width:100%;
		//height:350px;
		//border-bottom:1px solid #ddd;
		.country {
			path {
				fill:none;
				stroke-width:4;
				&.avg {
					stroke:#999 !important;
					stroke-width:2;
					stroke-dasharray:2,3;
					stroke-linecap:butt;
				}
				&.bg {
					stroke:#dadada !important;
				}
			}
			
			text.line-name,
			text.other-line-name {
				@include fs-textSans(2);
				font-weight: bold;
				text-anchor:middle;
				
				
			
				&.bg {
					stroke:#fff;
					stroke-width:2px;
					stroke-linecap:butt;
					stroke-linejoin:miter;
					stroke-opacity:1;
					fill:#fff;
				}
			}
			&.up {
				text.line-name,
				text.other-line-name {
					fill:$up;
				}
			}
			&.down {
				text.line-name,
				text.other-line-name {
					fill:$down;
				}
			}
			text.avg {
				@include fs-textSans(1);
				font-weight: normal;
				fill:#999;
				text-anchor:start;
			}
			.labels {
				.label {
					circle {
						stroke:#333;
						stroke-width:0;
						&.bg {
							fill-opacity:0;
							stroke:none;
						}
					}
					text {
						/*@include fs-headline(1);
						font-size:12px;
						fill:#f37021;*/
						
						@include fs-textSans(2);
						font-weight: bold;
						fill:#808080;

						display: none;
						text-anchor:start;

						&.year {
							font-weight: normal;
						}

						&.bg {
							stroke:#fff;
							stroke-width:3px;
							stroke-linecap:butt;
							stroke-linejoin:miter;
							fill:#fff;
						}
					}
					&:hover:not(:last-child) {
						text {
							display: block;
						}
						circle.bg {
							fill-opacity:1;
						}
					}
				}
				&.family {
					circle {
						//fill:#f37021;
					}
				}
				&.single {
					circle {
						fill:#951c55;
					}
				}
			}
			.arrow line {
				stroke-width:2;
			}
			&.up {
				path,
				.arrow line{
					stroke:$up;
				}
				.label {
					circle {
						fill:$up;
					}
				}
			}
			&.down {
				path,
				.arrow line {
					stroke:$down;
				}
				.label {
					circle {
						fill:$down;
					}
				}
			}
			.other-ages {
				.other-age {
					path {
						stroke-width:2;
						stroke-opacity:0.5;
						stroke:#dadada;
					}
					text {
						fill:none;
						display: none;
						&.bg {
								stroke:#fff;
								stroke-width:2px;
								stroke-linecap:butt;
								stroke-linejoin:miter;
								stroke-opacity:1;
								fill:#fff;
							}
					}
					&.selected {
						path {
							stroke:#aaa;
							stroke-width:3;
							stroke-opacity:1;
						}
						text {
							fill:#aaa;
							text-anchor:middle;
							display: block;

							
						}
						/*&.up {
							path {
								stroke:$up;
							}
							text {
								fill:$up;
							}
						}
						&.down {
							path {
								stroke:$down;
							}
							text {
								fill:$down;
							}
						}*/	
					}
				}
			}
		}
		.markers {
			
			.marker {
				
				circle {
					stroke:#333;
					stroke-width:0;
				}
				&.down {
					circle {
						fill:$down;
					}
				}
				&.up {
					circle {
						fill:$up;
					}
				}

				text {
					@include fs-textSans(3);
					font-weight: bold;
					fill:#808080;
					
					&.year {
						font-weight: normal;
					}

					&.bg {
						stroke:#fff;
						stroke-width:2px;
						stroke-linecap:butt;
						stroke-linejoin:miter;
						stroke-opacity:1;
						fill:#fff;
					}
				}
			}
		}
		.deviation {
			path {
				fill:#f8f8f8;
				&.border {
					fill:none;
					stroke:#dadada;
					stroke-width:0;
				}
			}
		}
		.voronoi {
			path {
				fill-opacity:0;
				//stroke:#000;
				//stroke-width:1;

			}
		}
	}
	div.annotation {
		position:absolute;
		width:190px;
		padding-top:40px;
		
		border-left:1px solid #aaa;
		p {
			@include fs-textSans(1);
			font-size:12px;
			margin:0;
			padding-left:5px;
			b {
				white-space: nowrap;
			}
		}
		&.top {
			margin-top:-105px;
			margin-left:-190px;
			text-align: right;
			border-right:1px solid #aaa;
			border-left:none;
			padding-top:0px;
			padding-bottom:40px;
			p {
				padding-left:0;
				padding-right:5px;
			}
		}
	}
}