#ages {
	//width:100%;
	min-height:10px;
	//overflow:hidden;
	.row {
		overflow:hidden;
		margin-bottom:30px;
		>div {
			float:left;
		}
		.description {
			width:260px;
			padding-right:20px;
			h2 {
				@include fs-header(3);
                color:#333;
				margin:0;
			}	
			p {
				padding-right:20px;
			}
		}
		.ages {
			width:calc(100% - 260px);
			padding-top:20px;
		}
		
		.age {
			width:calc(100% / 3); // /14
			@include mq(tablet) {
				width:calc(100% / 13); // /14
			}
			
			float:left;
			h4 {
				@include fs-textSans(1);
				font-weight: normal;
                color:#b3b3b4;
				margin:0;
				margin-bottom:15px;
			}
			svg {
				width:100%;
				//height:130px;
				.country {
					path {
						fill:none;
						stroke-width:2;
						&.family {
							//stroke:#951c55;
						}
						&.single {
							stroke:#999;
						}
					}
					.labels {
						.label {
							circle {
								stroke:#fff;
								stroke-width:2;
								&.bg {
									fill-opacity:0;
									stroke:none;
									visibility: visible;
								}
							}
							text {
								@include fs-headline(1);
								font-size:12px;
								//fill:#951c55;
								display: none;
								text-anchor:start;
							}
							&:hover {
								circle {
									visibility: visible;
								}
								text {
									display: block;
								}
							}
						}
						&.family {
							circle {
								fill:#951c55;
								visibility: hidden;
							}
						}
						&.single {
							circle {
								fill:#951c55;
								visibility: hidden;
							}
						}
					}
				}
				.deviation {
					path {
						fill:#f4f4f4;
						&.border {
							fill:none;
							stroke:#dadada;
							stroke-width:1;
						}
					}
				}
			}
		}	
	}
	

}