.axes {
	.axis {

		&.hidden {
			.tick {
				text {
					visibility: hidden;		
				}
				line {
					//visibility: hidden;
				}
			}
			
		}

		path,line {
			fill:none;
			shape-rendering: crispEdges;
			stroke:#bbb;
		}
		path {
			//display: none;
		}
		
		&.x,
		&.y {
			path {
				display: none;
			}
		}

		.tick {
			line {
				//display: none;
			}
			text {
				//display: none;
			}
		}

		&.y {
			.tick {
				line {
					stroke:#ddd;
					stroke-dasharray: 1,1;
					//visibility: hidden;
					&.visible {
						visibility: visible;
					}
					&.hidden {
						visibility: hidden;
					}
				}
				text {
					text-anchor:end !important;
				}
				&.left {
					text {
						text-anchor:start !important;
					}
				}
				&.right {
					text {
						text-anchor:end !important;
					}	
				}
				
			}
		}
		&.x {
			line {
				stroke:#bbb;
			}
			line.zero {
				stroke:#bbb;
			}
			.tick:first-child {
				text {
					text-anchor:start !important;
				}
			}
			.tick:nth-last-child(2) {
				text {
					text-anchor:end !important;
				}
			}
			.tick {
				line {
					display: none;
					stroke:#ddd;
					stroke-dasharray: 1,1;
				}
			}
		}

		text {
			fill: #b3b3b4;
			@include fs-textSans(1);
			font-size: 12px;
			@include mq(tablet) {
				font-size: 13px;
			}
			text-anchor:middle;
		}
		.tick.last-tick {
			text {
				text-anchor:start !important;
			}
		}
		
	}
}