#bubbles {
	position:relative;
	overflow:hidden;
	.row {
		overflow:hidden;
		margin-bottom:30px;
		>div {
			float:left;
		}
		.description {
			width:100%;
			
			h2 {
				@include fs-header(3);
                color:#333;
				margin:0;
			}
			
			@include mq(tablet) {
				width:260px;
				padding-right:20px;

				p {
					padding-right:20px;
				}
			}
			
		}
	}
	div.bubbleChart {
		width:100%;
		@include mq(tablet) {
			width:calc(100% - 260px);
		}
		float:left;
		svg {
			width:100%;
			height:300px;

			
			.age-timeline {
				path {
					
					
					stroke-width:2;
					fill:none;


				}
				
				
				text {
					@include fs-textSans(1);
				}
				
				
				.bubble {
					circle {
						stroke:none;

						-webkit-transition: fill 750ms ease-in-out;
						-moz-transition: fill 750ms ease-in-out;
						-ms-transition: fill 750ms ease-in-out;
						-o-transition: fill 750ms ease-in-out;
						transition: fill 750ms ease-in-out;
					}
					text {
						text-anchor:middle;
						fill:#666;
						visibility: hidden;
						&.bg {
							stroke:#fff;
							stroke-width:2px;
							stroke-linecap:butt;
							stroke-linejoin:miter;
							stroke-opacity:1;
							fill:#fff;
						}
					}
					
					&.hidden {
						
						circle {
							stroke:#767676;
							fill:#ddd;
							opacity: 0.2;
						}	
					}
					&.highlight {

						circle {
							stroke:#333;
							stroke-width:0;
							opacity: 1;
						}
					
					}	
					&.highlight-text {

						text {
							visibility: visible;
						}
					
					}	
				}
				
				/*&:not(:first-child) {
					.bubble {
						text {
							visibility: hidden
						}
					}
				}*/

				
			}
			
			.axis {
				&.x {
					.tick {
						text {
							text-anchor:middle !important;
						}
						line {
							display: block;
						}
						/*&:nth-last-child(2) {
							text {
								text-anchor:start !important;
								@include mq(tablet) {
									text-anchor:middle !important;
								}
							}
							
						}*/
					}

				}
				&.y {
					text.yaxis-note {
						text-anchor:start !important;
						fill:#767676;
						&.bg {
							stroke:#fff;
							stroke-width:2px;
							stroke-linecap:butt;
							stroke-linejoin:miter;
							stroke-opacity:1;
							fill:#fff;
						}
					}
					line.yaxis-arrow {
						stroke-width:2;
						stroke:#bbb;
						shape-rendering: crispEdges;
					}
					.tick {
						&.zero {
							text {
								fill:#767676;
							}
							line {
								//stroke-dasharray:none;
								//stroke:#aaa;

								stroke:#767676;
								stroke-width:2;
								stroke-dasharray:2,2;
								stroke-linecap:butt;
							}
						}
						text {
							text-anchor:end !important;
						}
					}
				}
			}

			.voronoi {
				path {
					fill:#fff;
					fill-opacity:0;
					stroke:none;
					stroke-width:1;
				}
				circle {
					fill:#ddd;
				}
			}
		}
	}
	
}