.buckets {
	width:100%;
	overflow:hidden;
	div.bucket {
		width:calc(100% / 10);
		height:300px;
		float:left;
		padding-left:5px;
		padding-right:5px;
		
		div.chart {
			border-bottom:1px solid #ddd;
			height: 80%;
			svg {
				width:100%;
				height: 100%;

				.bubble {
					circle {
						fill:#767676;
						stroke:none;
					}
					&.highlight {
						circle {
							fill:#a0091d;
						}
					}
				}

				.range {
					rect {
						fill:#f6f6f6;

					}
					line {
						shape-rendering: crispEdges;
						stroke:#eee;
						stroke-width:1;
					}
				}
				.sparkline {
					path {
						fill:none;
						stroke-width:2;
						
						stroke:#aaa;
						
					}
				}
				
				.bucket-year {
					text {
						@include fs-textSans(1);
						text-anchor:middle;
						font-size:20px;
						fill:#ddd;
					}
				}
			}
		}
		h3 {
			width:100%;
			text-align: center;
			@include fs-textSans(1);
			font-weight: normal;
			color:#333;
		}

	}
}
svg.slider {
	/*width:50%;
	height:40px;
	background-color:#eee;
	position:relative;*/
	/*div.handle {
		position: absolute;
		left:0;
		top:0;
		width:20px;
		height:20px;
		background-color:#ddd;
	}*/
	line {
		shape-rendering: crispEdges;
		stroke:#777;
		stroke-width:1;
	}
	g.handle {
		circle {
			fill:#333;
		}
		text {
			text-anchor:middle;
			@include fs-textSans(1);
		}
	}
}