form.fancy-selector {
    
    display: inline-block;
    
    background:white;
    //border-radius: 10px;
    overflow: visible;
    position: relative;
    //width:100px;
    //height: 30px;

    @include mq(tablet) {
        
        //height:25px;
        //border-radius: 10px;
        //border: 1px solid #bdbdbd;
        background-color: #f7f7f7; 
        border-bottom:1px solid #f37021;

        margin:0 5px;
        padding:0 10px;
    }

    select {
        
        width:100%;

        @include fs-header(5);
        color:#f37021;
        font-size:24px;

        //position: absolute;

        
        margin:5px;
        //width: calc(100% - 10px);
        //height:50px;
        //line-height: 50px;
        text-align:center;
        padding: 0;
        //padding-left:30px;
        
        -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
        box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);

        @include mq(tablet) {
            text-align:center;
            
            //width: calc(100% - 220px);
            //line-height: 78px;
            //height:78px;
            //padding: 0 0 0 30px;
            //padding-left:30px;
            background-color: transparent;
            margin: 0 0 0 3px;

            -webkit-box-shadow: none;
            box-shadow: none;    
        }
        //font-weight: 500;
        outline: 0;
        
        
        border:none;

        
        
        
        

        transition: background-color 0.1s ease-out;
        transition: color 0.1s ease-out;

        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;

        option {
          
            //text-align: center;
            @include mq(tablet) {
                //@include fs-textSans(1);
                font-weight: normal;
                color:#333;
                text-align:right;
                //display: inline-block;
                //width:auto;
            }
        }
    }
}