form.fancy-selector {
    
    display: inline-block;
    
    background:white;
    //border-radius: 10px;
    overflow: visible;
    position: relative;
    //width:100px;
    //height: 30px;
    background-color: #f7f7f7; 
    border-bottom:1px solid #999;

    @include mq(tablet) {
        
        //height:25px;
        //border-radius: 10px;
        //border: 1px solid #bdbdbd;
        background-color: #f7f7f7; 
        border-bottom:1px solid #999;

        margin:0 5px;
        padding:0;// 10px;
    }
    .select-wrapper {
        display: inline-block;
        position:relative;
        overflow:hidden;
        width:auto;

        &::after {
            content: "\25BE";
            color:#999;
            background-color: #f7f7f7; 
            padding-right:5px;
            position:absolute;
            right:0;
            top:0;
            //background-color: #ff0000;
        }
    }
    select {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        width:calc(100% + 40px);

        @include fs-header(5);
        color:#000;
        font-size:24px;

        margin:0;// 5px;
        padding:0 25px 0 10px;
        
        text-align:left;
        //padding: 0;
        
        
        -webkit-box-shadow: none;
        box-shadow: none;

        @include mq(tablet) {
            text-align:left;
            background-color: transparent;
           // margin: 0;//0 0 0 3px;

            -webkit-box-shadow: none;
            box-shadow: none;    
        }
        outline: 0;
        
        border:none;

        transition: background-color 0.1s ease-out;
        transition: color 0.1s ease-out;

        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;

        &::-ms-expand {
            display: none;
        }

        option {
          
            @include mq(tablet) {
                @include fs-textSans(3);
                font-size:20px;
                line-height: 24px;
                font-weight: normal;
                color:#333;
                text-align:left;
                padding-right:30px;
                
            }
        }

        
    }
    
}