body,
figure.interactive {
    margin: 0;
    padding: 0;
}

// Link styles don't exist on the app


.interactive-container {
    margin: 0 auto;
    
    &,* {
        box-sizing: border-box;
    }

    background-color: white;

    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }

    a {
        &,
        &:hover,
        &:active {
            color: #005689;
        }

        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .header {
        overflow:hidden;
        margin-bottom:30px;
        >div{
            float: left;
        }
        .country-text {
            width:300px;
            h2 {
                color:#333;
                p {
                    @include fs-bodyCopy(1);
                    color:#333;
                }
            }
        }
    }
}
