@import '../../bower_components/pasteup-palette/src/_palette.scss';

@function colour($name) {
    @return map-get($pasteup-palette, $name);
}

$australia:#008751;
$canada:#ff0000;
$germany:#00A651;//#FFCC00;
$italy:#18B9F8;
$spain:#E60026;
$france:#007FFF;
$norway:#EF2B2D;
$sweden:#005B99;
$us:#00247D;
$uk:#3C3B6E;

$under-20s:#e31f26;
$gen-y:#f37021;
$gen-x:#fdb913;
$baby-boomers:#fcdd03;
$over-70s:#c5d4ea;

$generation-list: under-20s, gen-y, gen-x, baby-boomers, over-70s;
$generation-colors-list: $under-20s, $gen-y, $gen-x, $baby-boomers, $over-70s;
@each $current-color in $generation-colors-list {
    $i: index($generation-colors-list, $current-color);
    .country.#{nth($generation-list, $i)} {
        path {
            stroke: $current-color;
        }
        circle {
            fill: $current-color;
        }
    }
    .marker.#{nth($generation-list, $i)} {
        circle,text {
            fill: $current-color;
        }
    }
    .sparkline.#{nth($generation-list, $i)} {
        path {
            stroke: $current-color;
        }
    }
    .bubble.#{nth($generation-list, $i)} {
        circle {
            fill: $current-color;
        }
    }
    form.fancy-selector.#{nth($generation-list, $i)} {
        border-bottom-color: $current-color;
        select {
            color: $current-color;
        }
    }
}

$countries-list: australia, canada, germany, italy, spain, france, norway, sweden, us, uk;
$colors-list: $australia, $canada, $germany, $italy, $spain, $france, $norway, $sweden, $us, $uk;
@each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    .#{nth($countries-list, $i)} path,
    .#{nth($countries-list, $i)} line.life {
        //stop-color: $current-color;
        stroke: $current-color;
    }
    .#{nth($countries-list, $i)} circle.life {
        //stop-color: $current-color;
        fill: $current-color;
    }
}
