#scatter {
	position:relative;
	
	svg {
		width:100%;
		height:500px;
		//border:1px solid #ddd;
		.arrow-marker {
			stroke: none;
		}
		.age-timeline {
			opacity: 0.5;
			path {
				
				
				stroke-width:2;
				fill:none;


			}
			line {
				stroke:#ddd;
				stroke-width:1;
				fill:none;
			}
			&.unselected {
				path {
					stroke:#ddd;
				}
			}
			circle {
				//fill:#ddd;
				visibility: hidden;
			}
			text {
				@include fs-textSans(1);
			}
			text.title {
				display: none;
				pointer-events: none;
				fill:#333;
				font-weight:bold;
				&.bg {
					stroke:#fff;
					stroke-width:3;
				}
				&.right-aligned {
					text-anchor:end;
				}
			}
			.marker {
				&.hidden {
					opacity: 0;
				}

				&.hidden:hover,
				&:hover {
					opacity: 1;
				}

				text {
					//@include fs-textSans(1);
					fill:#333;
					visibility: hidden;
					text-anchor: middle;
					&.bg {
						stroke:#fff;
						stroke-width:3;
					}
				}	
			}
			

			
				
			path {
				//stroke:#333;
				stroke-opacity:1;
				stroke-width:2;

			}
			.marker {
				circle {
					//fill:#333;
					stroke:#fff;
					stroke-width:2;
					visibility: visible;
				}
				text {
					visibility: hidden;
				}	
			}
			.age-label {
				visibility: visible;
			}
			&.selected {
				opacity: 1;
				text.title {
					display: block;
				}
				.marker {
					text {
						visibility: visible;
					}
					circle {
						fill-opacity:1;
					}
				}
				path {
					stroke-opacity:1;
					stroke-width:4;	
				}
			}

			.age-label {
				visibility: hidden;
				rect {
					
					fill-opacity:0.5;
				}
				text {
					fill:#333;
					text-anchor:end;	
				}
			}
		}
		
		.axis {
			&.y {
				.tick {
					text {
						text-anchor:start !important;
					}
				}
			}
			&.x {
				.tick {
					line {
						display: block;
					}
				}
			}
		}
	}
}